body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: dimgrey;
        }
        .port-color{

            background-color: aqua;
            display: flex;
        }

        #cart {
            float: right;
            margin-top: 10px;
            margin-right: 20px;
        }

        #items {
            display: flex;
            flex-wrap: wrap;
        }

        .item {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }

        button {
            cursor: pointer;
        }
    </style>
